@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'VT323', monospace;
    background-color: #0f1e0f;
    color: #00ff00;
    font-size: 18px;
    line-height: 1.4;
    text-shadow: 0 0 5px #00ff00;

    /*Green fallout computer background*/
    background-image: repeating-linear-gradient(
        to bottom,
        rgba(57, 255, 20, 0.05) 0px,
        rgba(57, 255, 20, 0.05) 1px,
        transparent 1px,
        transparent 3px
    );
      background-size: 100% 4px;

    /*Metal Border*/
    border: 20px solid #555;
    min-height: 100vh;
    box-shadow:
                inset 0 0 0 5px #888,
                inset 0 0 0 10px #444,
                inset 0 0 15px rgba(0,0,0,0.8),
                0 0 30px rgba(0,0,0,0.6);
    box-sizing: border-box;


}

.login {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.title {
display: flex;
justify-content: center;
text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.character-create-form {
    display: flex;
    flex-wrap: wrap;
}

.character-create-box {
    display: flex;
    align-items: flex-start;
    flex-Direction: column;
    flex-wrap: wrap;
    height:500px;
    width:500px;
    flex-basis: 200px;
    row-gap:15px;
    padding: 15px;

}
.section-container {
  display: flex;
  flex-direction: column;
  margin:20px;
  align-items: center;
}
.subtitle {
    display:flex;
    justify-content: center;
    align-items: center;
}
.header {
    display:flex;
    margin: 10px;
    flex-Direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registration {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display:flex;

}

.form-row {

}

input[type="text"],
input[type="password"],
input[type="number"] {
    display: flex;
    font-family: 'VT323', monospace;
    color: #00ff00;
    background-color: transparent;
    border: 0px solid #00ff00;
    outline: none;
    text-align: center;
    padding: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
      border: 1px solid #00ff00;
      box-shadow: 0 0 5px #00ff00;
      color: black;
      background-color: #00ff00;
      outline: none;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover {
      border: 1px solid #00ff00;
      box-shadow: 0 0 5px #00ff00;
      color: black;
      background-color: #00ff00;
      outline: none;
}

/* Removes button to increment number input */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Removes button to increment number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

button[type="submit"] {
    display: flex;
    font-family: 'VT323', monospace;
    color: #00ff00;
    background-color:transparent;
    border-color: transparent;
    text-shadow: 0 0 5px #00ff00;
    font-size: 16px;
    margin-right: 5px;
}

button[type="submit"]:hover {
    text-shadow: 0 0 5px #00ff00;
    border: 1px solid #00ff00;
    box-shadow: 0 0 5px #00ff00;
    color: black;
    background-color: #00ff00;
}

a {
    color: #00ff00;
    text-decoration: none;
    font-family: 'VT323', monospace;
    margin-left: 5px;
    cursor: default;
}

a:visited {
    color: #00ff00;
}

a:hover {
    text-shadow: 0 0 5px #00ff00;
    border: 1px solid #00ff00;
    box-shadow: 0 0 5px #00ff00;
    color: black;
    background-color: #00ff00;
}

a:active {
    color: #00ff00;
}