<!DOCTYPE html>
<html lang="en"
      xmlns:th ="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/base.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/character-edit.css}" type="text/css"/>
</head>
<body>
<div class="title">
    <h1>Character Edit</h1>
</div>

<!-- Form for the whole character creation webpage -->
<form class="character-create-form" method="post" th:action="@{/character-edit/{id}(id=${playerCharacter.id})}" th:object="${playerCharacter}">

    <div class="character-create-general">
        <h2>General Information</h2>
        <!-- General Information box -->


        <!-- There is a form-row div for each input to space them properly -->
        <div class="character-create-row">
            <label for="name">Name</label>
            <input id="name" th:field="*{name}" type="text" placeholder = "Max Stone"/>
        </div>


        <div class="character-create-row">
            <label for="race">Race</label>
            <input id="race" th:field="*{race}" type="text" placeholder = "Human"/>
        </div>

        <div class="character-create-row">
            <label for="background">Background</label>
            <input id="background" th:field="*{background}" type="text" placeholder = "Vault Dweller"/>
        </div>

        <div class="character-create-row">
            <label for="level">Level</label>
            <input id="level" th:field="*{level}" type="number" min="1" max="30"/>
        </div>

        <div class="character-create-row">
            <label for="xp">XP</label>
            <input id="xp" th:field="*{xp}" type="number" min="0" max="999"/>
        </div>
    </div>

    <!-- S.P.E.C.I.A.L Stats -->
    <div class="character-create-special">
        <h2>S.P.E.C.I.A.L</h2>


        <!-- There is a form-row div for each input to space them properly -->
        <div class="character-create-row">
            <label for="strength">Strength</label>
            <input id="strength" th:field="*{strength}" type="number" min="1" max="10"/>
        </div>

        <div class="character-create-row">
            <label for="perception">Perception</label>
            <input id="perception" th:field="*{perception}" type="number" min="1" max="10"/>
        </div>

        <div class="character-create-row">
            <label for="endurance">Endurance</label>
            <input id="endurance" th:field="*{endurance}" type="number" min="1" max="10"/>
        </div>

        <div class="character-create-row">
            <label for="charisma">Charisma</label>
            <input id="charisma" th:field="*{charisma}" type="number" min="1" max="10"/>
        </div>

        <div class="character-create-row">
            <label for="intelligence">Intelligence</label>
            <input id="intelligence" th:field="*{intelligence}" type="number" min="1" max="10"/>
        </div>

        <div class="character-create-row">
            <label for="agility">Agility</label>
            <input id="agility" th:field="*{agility}" type="number" min="1" max="10"/>
        </div>

        <div class="character-create-row">
            <label for="luck">Luck</label>
            <input id="luck" th:field="*{luck}" type="number" min="1" max="10"/>
        </div>

    </div>

    <!-- Skills -->
    <div class="character-create-skills">

        <div class = "character-create-title">
            <h2>Skills</h2>
        </div>

        <div class = "character-create-skills-grid">
            <div class="character-create-row">
                <label for="barter">Barter</label>
                <input id="barter" th:field="*{barter}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="breach">Breach</label>
                <input id="breach" th:field="*{breach}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="crafting">Crafting</label>
                <input id="crafting" th:field="*{crafting}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="energyWeapons">Energy Weapons</label>
                <input id="energyWeapons" th:field="*{energyWeapons}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="explosives">Explosives</label>
                <input id="explosives" th:field="*{explosives}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="guns">Guns</label>
                <input id="guns" th:field="*{guns}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="intimidation">Intimidation</label>
                <input id="intimidation" th:field="*{intimidation}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="medicine">Medicine</label>
                <input id="medicine" th:field="*{medicine}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="meleeWeapons">Melee Weapons</label>
                <input id="meleeWeapons" th:field="*{meleeWeapons}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="science">Science</label>
                <input id="science" th:field="*{science}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="sneak">Sneak</label>
                <input id="sneak" th:field="*{sneak}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="speech">Speech</label>
                <input id="speech" th:field="*{speech}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="survival">Survival</label>
                <input id="survival" th:field="*{survival}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="unarmed">Unarmed</label>
                <input id="unarmed" th:field="*{unarmed}" type="number"/>
            </div>

            <div class="character-create-row">
                <label for="pilot">Pilot</label>
                <input id="pilot" th:field="*{pilot}" type="number"/>
            </div>
        </div>

    </div>
    <!-- Health and combat stats -->
    <div class="character-create-health">
        <h2>Stats</h2>


        <div class="character-create-row">
            <label for="armorClass">Armor Class</label>
            <input id="armorClass" th:field="*{armorClass}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="damageThreshold">Damage Threshold</label>
            <input id="damageThreshold" th:field="*{damageThreshold}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="staminaPoints">Stamina Points</label>
            <input id="staminaPoints" th:field="*{staminaPoints}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="hitPoints">Hit Points</label>
            <input id="hitPoints" th:field="*{hitPoints}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="healingRate">Healing Rate</label>
            <input id="healingRate" th:field="*{healingRate}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="actionPoints">Action Points</label>
            <input id="actionPoints" th:field="*{actionPoints}" type="number"/>
        </div>

    </div>

    <!-- Fatigue/Survival Conditions
    private int hungerLevel;
    private int dehydrationLevel;
    private int exhaustionLevel;
    private int radiationLevel;
    private int radsLevel;
    -->
    <div class="character-create-survival">
        <h2>Survival</h2>

        <div class="character-create-row">
            <label for="hungerLevel">Hunger Level</label>
            <input id="hungerLevel" th:field="*{hungerLevel}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="dehydrationLevel">Dehydration Level</label>
            <input id="dehydrationLevel" th:field="*{dehydrationLevel}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="exhaustionLevel">Exhaustion Level</label>
            <input id="exhaustionLevel" th:field="*{exhaustionLevel}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="radiationLevel">Radiation Level</label>
            <input id="radiationLevel" th:field="*{radiationLevel}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="radsLevel">Rads Level</label>
            <input id="radsLevel" th:field="*{radsLevel}" type="number"/>
        </div>


    </div>

    <!--
    Derived/conditional states
    private String currentConditions;
    private String combatSequence;
    private String passiveSense;
    private String partyNerve;
    private String groupSneak;
     -->

    <div class="character-create-conditional">

        <h2>Derived Stats</h2>

        <div class="character-create-row">
            <label for="combatSequence">Combat Sequence</label>
            <input id="combatSequence" th:field="*{combatSequence}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="passiveSense">Passive Sense</label>
            <input id="passiveSense" th:field="*{passiveSense}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="partyNerve">Party Nerve</label>
            <input id="partyNerve" th:field="*{partyNerve}" type="number"/>
        </div>

        <div class="character-create-row">
            <label for="groupSneak">Group Sneak</label>
            <input id="groupSneak" th:field="*{groupSneak}" type="number"/>
        </div>


    </div>

    <div class="create-footer">
        <button type="submit">Update</button>
        <a th:href="@{/get-characters}">View Characters</a>
    </div>

</form>

</body>
</html>