<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dweller Login</title>
    <link rel="stylesheet" th:href="@{styles.css}" type="text/css"/>
</head>
<body>
<div class = "login">
    <h1>Welcome to Vault 54! Sign in Below</h1>
    <form class="login-form" method="post" th:action="@{/login}" th:object="${account}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" type="text"/>

        <label for="password">Password</label>
        <input id="password" th:field="*{password}" type="password"/>

        <br/>
        <button type="submit">Login</button>
        <a th:href="@{/register}">Register</a>

    </form>
</div>

</body>
</html>
